data/MAUDE_data/device2000.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2011.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2014.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2020.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2000.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2005.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2007.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2005.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2015.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2016.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2020.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2007.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2013.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2016.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2003.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2004.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2006.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2013.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2001.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2002.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2004.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2008.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2018.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2019.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2001.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2017.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2018.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2003.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2010.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2012.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2002.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2008.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2010.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2019.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2006.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2011.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2015.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2009.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/device2017.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2009.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2012.zip filter=lfs diff=lfs merge=lfs -text
data/MAUDE_data/foitext2014.zip filter=lfs diff=lfs merge=lfs -text
